.registerPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.registerInputHeading {
    margin: 0px;
}

.registerHeading {
    margin: 0px;
}

.registerForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerInput {
    width: 100%;
    height: 30px;
    appearance: none;
}